<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="/landing-page.css">
    <link rel="stylesheet" href="/signup-modal.css">
    <link rel="stylesheet" href="/login-modal.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/admin.css">
    <title>Twitter</title>
</head>
<body>
    <main>
        <!-- Signup Overlay -->
        <div id="signup-overlay" class="signup-overlay"></div>
        <!-- Signup Modal -->
        <div id="signup-modal" class="signup-modal">
            <div class="signup-modal-top-section">
                <!-- Exit modal -->
                <i id="signup-exit" class="fa fa-close"></i>
                <!-- Twitter logo -->
                <img class="singup-modal-twitter-logo" src="/illustrations/twitter-logo.png" alt="Twitter logo">
            </div>
            
            <div class="signup-modal-header">
                <h1>Signup</h1>
            </div>

            <!-- Error message -->
            <div>
                <p class="signup-error-message"></p>
            </div>

            <!-- Signup Form -->
            <form onsubmit="validate(signup); return false">
                <div class="signup-modal-form">
                    <div class="signup-modal-form-page-1">
                        <div class="signup-modal-form-page-1-form">
                            <!-- First name -->
                            <div class="signup-modal-form-first-name">
                                <p class="signup-modal-form-first-name-p">First name</p>
                                <input type="text" class="signup-modal-form-first-name-input" placeholder="Name"
                                data-validate="str" data-min="2" data-max="15"> 
                            </div>

                            <!-- Middle name -->
                            <div class="signup-modal-form-middle-name">
                                <p class="signup-modal-form-middle-name-p">Middle name</p>
                                <input type="text" class="signup-modal-form-middle-name-input" placeholder="Nickname"
                                data-validate="str" data-min="2" data-max="15">
                            </div>

                            <!-- Last Name -->
                            <div class="signup-modal-form-last-name">
                                <p class="signup-modal-form-last-name-p">Last name</p>
                                <input type="text" class="signup-modal-form-last-name-input" placeholder="Surname"
                                data-validate="str" data-min="2" data-max="15">
                            </div>
                        </div>

                        <!-- Navigation buttons -->
                        <div class="signup-modal-form-buttons">
                            <button class="signup-modal-form-buttons-button" onclick="toPage2()">Next Page</button>
                        </div>
                    </div>

                    <div class="signup-modal-form-page-2">
                        <div class="signup-modal-form-page-2-form">
                            <!-- Address -->
                            <div class="signup-modal-form-address">
                                <p class="signup-modal-form-address-p">Address</p>
                                <input type="text" class="signup-modal-form-address-input"
                                data-validate="str" data-min="5" data-max="40">
                            </div>

                            <!-- Age -->
                            <div class="signup-modal-form-age">
                                <p class="signup-modal-form-age-p">Age</p>
                                <input type="text" class="signup-modal-form-age-input"
                                data-validate="int" data-min="18" data-max="99">
                            </div>

                            <!-- Username -->
                            <div class="signup-modal-form-username">
                                <p class="signup-modal-form-username-p">Username</p>
                                <input type="text" class="signup-modal-form-username-input"
                                data-validate="str" data-min="10" data-max="30">
                            </div>
                        </div>

                        <!-- Navigation buttons -->
                        <div class="signup-modal-form-buttons extra-space">
                            <button class="signup-modal-form-buttons-button" onclick="toPage1()">Previous Page</button>
                            <button class="signup-modal-form-buttons-button" onclick="toPage3()">Next Page</button>
                        </div>
                    </div>

                    <div class="signup-modal-form-page-3">
                        <div class="signup-modal-form-page-3-form">
                            <!-- Email -->
                            <div class="signup-modal-form-email">
                                <p class="signup-modal-form-email-p">Email</p>
                                <input type="email" class="signup-modal-form-email-input"
                                data-validate="email">
                            </div>
                            
                            <!-- Password -->
                            <div class="signup-modal-form-password">
                                <p class="signup-modal-form-password-p">Password</p>
                                <input type="password" class="signup-modal-form-password-input"
                                data-validate="str" data-min="8" data-max="16">
                            </div>
                            
                            <!-- Password Retype -->
                            <div class="signup-modal-form-retype-password">
                                <p class="signup-modal-form-retype-password-p">Retype password</p>
                                <input type="password" class="signup-modal-form-retype-password-input"
                                data-validate="str" data-min="8" data-max="16">
                            </div>
                        </div>

                        
                        <!-- Navigation buttons -->
                        <div class="signup-modal-form-buttons">
                            <button class="signup-modal-form-buttons-button" onclick="toPage2()">Previous Page</button>
                        </div>

                        <!-- Signup submit -->
                        <div class="submit-signup-div submit-signup-div-margin-top">
                            <button id="submit-signup" class="submit-signup-button">Sign up</button>
                        </div>
                    </div>
                </div>
            </form>
            <!--  -->
        </div>
        
        <!-- Login Overlay -->
        <div id="login-overlay" class="login-overlay"></div>
        <!-- Login Modal -->
        <div id="login-modal" class="login-modal">
            <div class="login-modal-top-section">
                <!-- Exit modal -->
                <i id="login-exit" class="fa fa-close"></i>
                <!-- Twitter logo -->
                <img class="login-modal-twitter-logo" src="/illustrations/twitter-logo.png" alt="Twitter logo">
            </div>

            <div class="login-modal-error-div">
                <p class="login-modal-error-message"></p>
            </div>

            <!-- Login form -->
            <!-- <form onsubmit="validate(login)"> -->
                <div class="login-form">
                    <div class="login-page-email-div">
                        <p class="login-page-email-p">Email</p>
                        <input type="text" class="login-page-email-input" id="email" name="email" 
                        data-validate="email" data-min="10" data-max="40">
                    </div>

                    <div class="login-page-password-div">
                        <p class="login-page-password-p">Password</p>
                        <input type="password" class="login-page-password-input" id="password" name="password" 
                        data-validate="str" data-min="8" data-max="16">
                    </div>

                    <div class="submit-login-div">
                        <button type="submit" id="submit-login">Log In</button>
                    </div>
                </div>
            <!-- </form> -->
            <!--  -->
        </div>

        <!-- Landing Page -->
        <div id="landing-page" class="landing-page">
            <div class="landing-page-content">
                <!-- Left side -->
                <div class="langing-page-right-side">
                    <img src="/illustrations/twitter-landing.png" alt="Twitter landing page">
                </div>
                
                <!-- Right side -->
                <div class="landing-page-right-side">
                    <div class="landing-page-right-side-logo">
                        <img src="/illustrations/twitter-logo.png" alt="Twitter Logo">
                    </div>
                    
                    <div class="landing-page-right-side-headers">
                        <h1 class="landing-page-right-side-headers-h1">Happening now</h1>
                        <h2 class="landing-page-right-side-headers-h2">Join Twitter today.</h3>
                    </div>

                    <button onclick="goToSignup()" class="create-account-button">Create account</button>

                    <p class="landing-page-right-side-p">
                        By signing up, you agree to the <a href="#">Terms of Service</a> 
                        and <a href="">Privacy Policy</a>, including <a href="#">Cookie Use</a>.
                    </p>

                    <h3 class="landing-page-right-side-h3">Already have an account ?</h3>
                    
                    <button onclick="goToLogin()" class="login-button">Log In</button>
                   
                </div>
            </div>

            <footer class="landing-page-footer">
                <a href="">About</a> 
                <a href="">Help Center</a>
                <a href="#">Terms of Service</a>  
                <a href="#">Privacy Policy</a>  
                <a href="#">Cookie Policy</a>  
                <a href="#">Accessibility</a>  
                <a href="#">Ads info</a>  
                <a href="#">Blog</a>  
                <a href="#">Status</a>  
                <a href="#">Careers</a>  
                <a href="#">Brand Resources</a>  
                <a href="#">Advertising</a>  
                <a href="#">Marketing</a>  
                <a href="#">Twitter for Business</a>  
                <a href="#">Developers</a>  
                <a href="#">Directory</a>  
                <a href="#">Settings</a>  
                <span>
                    © 2022 Twitter, Inc.
                </span>
            </footer>
        </div>

        <!-- Admin - delete tweet pop-up -->
        <div class="admin-page-pop-up-delete-tweet hidden">
            <div class="admin-page-pop-up-delete-tweet-content">
                <p class="admin-page-pop-up-delete-tweet-content-p">Are you sure you want to delete tweet?</p>

                <div class="admin-page-pop-up-delete-tweet-buttons">
                    <button class="admin-page-pop-up-delete-tweet-buttons-yes">Yes</button>
                    <button class="admin-page-pop-up-delete-tweet-buttons-no">No</button>
                </div>
            </div>
        </div>
        <!-- Admin overlay -->
        <div id="admin-overlay" class="admin-overlay hidden "></div>
        <!-- Admin page -->
        <div id="admin-page" class="admin-page">
            <div class="admin-page-header-div">
                <h3 class="admin-page-header-div-h3">
                    Users tweets
                </h3>
            </div>

            <div class="admin-page-tweets-div"></div>
        </div>

        <!-- Home overlay -->
        <div class="home-overlay" id="home-overlay"></div>
        <!-- Home Page -->
        <div id="home-page" class="home-page">
            <!-- Pop-up window - logout-->
            <div class="home-page-column-1-pop-up">
                <!-- First option -->
                <div class="home-page-column-1-pop-up-1">
                    <div class="home-page-column-1-user-info-pop-up">
                        <div class="home-page-column-1-user-info-logout-user-image">
                            <img class="home-page-column-1-user-info-logout-user-image-image" src="/illustrations/user.png" alt="User image.">
                        </div>  

                        <div class="home-page-column-1-user-info-logout-user-names">
                            <h3 class="home-page-column-1-user-info-logout-user-names-name">David Haring</h3>
                            <p class="home-page-column-1-user-info-logout-user-names-username">@davidharingri</p>
                        </div>

                        <div class="home-page-column-1-user-info-logout-button">
                            <i class="fa fa-check   "></i>
                        </div>
                    </div>
                </div>

                <!-- Second option -->
                <div class="home-page-column-1-pop-up-2">
                    <p>Add an existing account</p>
                </div>
        
                <!-- Third option -->
                <div class="home-page-column-1-pop-up-3">
                    <p>Log out @davidharingri</p>
                </div>
            </div>
            
            <!-- Form -->
            <form onsubmit="validate(createTweet); return false">
                <!-- Pop-up window - tweeter form -->
                <div class="home-page-column-2-pop-up-tweet-form">
                    <!-- Header -->
                    <div class="home-page-column-2-pop-up-tweet-form-header"> 
                        <i id="home-page-column-2-pop-up-tweet-form-header-close-button" class="fa fa-close"></i>
                    </div>
                    <!-- Content -->
                    <div class="home-page-column-2-pop-up-tweet-form-content">
                        <!-- Left side - user photo -->
                        <div class="home-page-column-2-pop-up-tweet-form-content-left">
                            <img class="home-page-column-2-pop-up-tweet-form-content-left-image" src="/illustrations/user.png" alt="User photo">
                        </div>
                        <!-- Right side - tweet form -->
                        <div class="home-page-column-2-pop-up-tweet-form-content-right">
                            <!-- Title -->
                            <div class="home-page-column-2-pop-up-tweet-form-content-right-title">
                                <input type="text" class="home-page-column-2-pop-up-tweet-form-content-right-title-input" placeholder="How are you feeling?"
                                data-validate="str" data-min="10" data-max="40">
                            </div>
                            <!-- Description -->
                            <div class="home-page-column-2-pop-up-tweet-form-content-right-description">
                                <input type="text" class="home-page-column-2-pop-up-tweet-form-content-right-description-input" placeholder="What's happening?"
                                data-validate="str" data-min="20" data-max="400">
                            
                            </div>
                            <!-- Bottom section -->
                            <div class="home-page-column-2-pop-up-tweet-form-content-right-bottom-section">
                                <!-- Image -->
                                <div class="home-page-column-2-pop-up-tweet-form-content-right-bottom-section-image">
                                    <label for="create-tweet-upload-image">
                                        <i id="home-page-column-2-pop-up-tweet-form-content-right-bottom-section-image-upload-image" class="fa fa-file-image-o"></i>
                                    </label>
                                    <input type="file" name="create-tweet-upload-image" id="create-tweet-upload-image" class="hidden">
                                </div>
                                <!-- Button -->
                                <div class="home-page-column-2-pop-up-tweet-form-content-right-bottom-section-button">
                                    <button class="home-page-column-2-pop-up-tweet-form-content-right-bottom-section-button-create-tweet">Tweet</button>
                                    <button class="home-page-column-2-pop-up-tweet-form-content-right-bottom-section-button-update-tweet">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Pop-up window delete tweet -->
            <div class="home-page-column-2-pop-up-delete-tweet">
                <div class="home-page-column-2-pop-up-delete-tweet-content">
                    <p class="home-page-column-2-pop-up-delete-tweet-content-p">Are you sure you want to delete tweet?</p>

                    <div class="home-page-column-2-pop-up-delete-tweet-buttons">
                        <button class="home-page-column-2-pop-up-delete-tweet-buttons-yes">Yes</button>
                        <button class="home-page-column-2-pop-up-delete-tweet-buttons-no">No</button>
                    </div>
                </div>
            </div>
            <!-- Pop-up window follow/unfollow -->
            <div id="popup-3" class="home-page-column-3-follow-unfollow">
                <div class="home-page-column-3-follow-unfollow-content">
                    <p class="home-page-column-3-follow-unfollow-content-p-start-follow">Are you sure you want to start following user?</p>
                    <p class="home-page-column-3-follow-unfollow-content-p-end-follow">Are you sure you want to stop following user?</p>

                    <div class="home-page-column-3-follow-unfollow-buttons">
                        <button class="home-page-column-3-follow-unfollow-buttons-yes-start-follow">Yes</button>
                        <button class="home-page-column-3-follow-unfollow-buttons-yes-end-follow">Yes</button>
                        <button class="home-page-column-3-follow-unfollow-buttons-no">No</button>
                    </div>
                </div>
            </div>

            <!-- Column 1 -->
            <div class="home-page-column-1">
                <!-- Left side -->
                <div class="home-page-column-1-margin"></div>
                <!-- Right side -->
                <div class="home-page-column-1-content">
                    <ul class="home-page-column-1-navigation-list">
                        <!-- Twitter logo -->
                        <li class="home-page-column-1-navigation-list-item">
                            <img src="/illustrations/twitter-logo.png" alt="Twitter logo">
                        </li>
                        <!-- Home -->
                        <li class="home-page-column-1-navigation-list-item">
                            <i class="fa fa-home"></i>
                            <span class="home-page-column-1-navigation-list-item-span">Home</span>
                        </li>
                        <!-- Explore -->
                        <li class="home-page-column-1-navigation-list-item">
                            <i class="fa fa-hashtag"></i>
                            <span class="home-page-column-1-navigation-list-item-span">Explore</span>
                        </li>
                        <!-- Notifications -->
                        <li class="home-page-column-1-navigation-list-item">
                            <i class="fa fa-bell-o"></i>
                            <span class="home-page-column-1-navigation-list-item-span">Notifications</span>
                        </li>
                        <!-- Messages -->
                        <li class="home-page-column-1-navigation-list-item">
                            <i class="fa fa-envelope-o"></i>
                            <span class="home-page-column-1-navigation-list-item-span">Messages</span>
                        </li>
                        <!-- Bookmark -->
                        <li class="home-page-column-1-navigation-list-item">
                            <i class="fa fa-bookmark-o"></i>
                            <span class="home-page-column-1-navigation-list-item-span">Bookmarks</span>
                        </li>
                        <!-- Lists -->
                        <li class="home-page-column-1-navigation-list-item">
                            <i class="fa fa-tasks"></i>
                            <span class="home-page-column-1-navigation-list-item-span">Lists</span>
                        </li>
                        <!-- Profile -->
                        <li class="home-page-column-1-navigation-list-item">
                            <i class="fa fa-user"></i>
                            <span class="home-page-column-1-navigation-list-item-span">Profile</span>
                        </li>
                        <!-- More -->
                        <li class="home-page-column-1-navigation-list-item">
                            <i class="fa fa-gears"></i>
                            <span class="home-page-column-1-navigation-list-item-span">More</span>
                        </li>
                    </ul>

                    <!-- Tweet button -->
                    <div class="home-page-column-1-tweet-div">
                        <button class="home-page-column-1-tweet-button">Tweet</button>
                    </div>
                        
                    <!-- Bottom section -->
                    <div class="home-page-column-1-bottom-section">
                        <!-- User info  -->
                        <div class="home-page-column-1-user-info">
                            <div class="home-page-column-1-user-info-logout-user-image">
                                <img class="home-page-column-1-user-info-logout-user-image-image" src="/illustrations/user.png" alt="User image.">
                            </div>  

                            <div class="home-page-column-1-user-info-logout-user-names">
                                <h3 id="home-page-column-1-user-info-logout-user-names-name" class="home-page-column-1-user-info-logout-user-names-name"></h3>
                                <p id="home-page-column-1-user-info-logout-user-names-username" class="home-page-column-1-user-info-logout-user-names-username"></p>
                            </div>

                            <div class="home-page-column-1-user-info-logout-button">
                                <i id="home-page-column-1-user-info-logout-button-options" class="fa fa-ellipsis-h"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column 2 -->
            <div class="home-page-column-2">
                <!-- Tweets -->
                <div class="home-page-column-2-tweets"></div>
            </div>
            <!-- Column 3 -->
            <div class="home-page-column-3">
                <div class="home-page-column-3-content">
                    <!-- Search bar -->
                    <div class="home-page-column-3-content-search-bar">
                        <i class="fa fa-search"></i>
                        <input type="text" class="search-for-something" placeholder="Search for something">
                    </div>

                    <!-- List of users to follow -->
                    <div class="home-page-column-3-content-users">
                        <h3 class="home-page-column-3-content-users-header">You can follow</h3>
                        
                        <div class="home-page-column-3-content-users-list unfollowed-list"></div> 
                    </div>

                    <div class="home-page-column-3-content-users-followed">
                        <h3 class="home-page-column-3-content-users-followed-header">Following</h3>
                        
                        <div class="home-page-column-3-content-users-followed-list followed-list"></div>
                    </div>
                </div>
                <div class="home-page-column-3-margin"></div>
            </div>
        </div>
    </main>

    <!-- Frontend Validation -->
    <script src="/validator.js"></script>
    <!-- My cripts -->
    <script src="/navigation.js"></script>
    <script src="/signup.js"></script>
    <script src="/app.js"></script>
    <script src="/tweets.js"></script>
    <script src="/follows.js"></script>
    <script src="/login.js"></script>
    <script src="/home.js"></script>
    <script src="/admin.js"></script>
</body>
</html>