:root{
    --blue:             #1DA1F2;
    --black:            #14171A;
    --darkgray:         #657786;
    --lightgray:        #AAB8C2;
    --extralightgray:   #E1E8ED; 
}

.home-page {
    width: 100vw;
    min-height: 300vh;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* Home overlay */
.home-overlay {
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #14171A;
    opacity: 60%;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* Column 1 */
.home-page-column-1 {
    z-index: 1;
    height: 100vh;
    position: fixed;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    border-right: 1px solid var(--lightgray);
}

.home-page-column-1-margin, 
.home-page-column-1-content {
    width: 100%
} 

.home-page-column-1-navigation-list {
    list-style: none;

}

.home-page-column-1-navigation-list-item {
    margin: 1.5rem 0; 
}

.home-page-column-1-navigation-list-item > i {
    font-size: 24px;
    width: 5%;
    margin-right: 1rem;
}

.home-page-column-1-navigation-list-item > span {
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.home-page-column-1-tweet-div {
    display: flex;
    justify-content: center;
}

.home-page-column-1-tweet-button {
    margin-top: 2rem;
    width: 80%; 
    font-weight: 500;
    font-size: 1rem;
    color: white;
    background-color: var(--blue);
    padding: 0.8rem 4rem;
    border-radius: 2rem;
    border: 2px solid var(--blue);
    cursor: pointer;
}

/* Bottom section */
.home-page-column-1-bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    height: 35vh;
    
}

/* Pop-up window - logout*/
.home-page-column-1-pop-up {
    z-index: 3;
    position: absolute;
    height: 20vh;
    top: 36em;
    left: 17rem;
    padding: 1rem;
    border: 1px solid var(--extralightgray);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: white;
    justify-content: center;
    align-content: center;
}

.home-page-column-1-user-info-pop-up {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-right: 1rem;
    padding: 0.4rem 2rem;
}

.home-page-column-1-user-info {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-right: 1rem;
    padding: 0.4rem 2rem;
}

.home-page-column-1-pop-up-1:hover,
.home-page-column-1-pop-up-2:hover,
.home-page-column-1-pop-up-3:hover {
    border-radius: 0.5rem;
    background-color: var(--lightgray);
}

.home-page-column-1-pop-up-2,
.home-page-column-1-pop-up-3 {
    text-align: center;
    border-top: 1px solid var(--extralightgray);
    padding: 0.5rem;
}

.home-page-column-1-user-info:hover {
    background-color: var(--extralightgray);
    cursor: pointer;
    border-radius: 5rem;
}

.home-page-column-1-user-info-logout-user-image,
.home-page-column-1-user-info-logout-user-names,
.home-page-column-1-user-info-logout-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.home-page-column-1-user-info-logout-user-image-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.home-page-column-1-user-info-logout-user-names-name {
    margin-bottom: 0.3rem;
}

#home-page-column-1-user-info-logout-button-options {
    font-size: 16px;
}


/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* Column 2 */
.home-page-column-2 {
    z-index: 1;
    margin-left: 30%;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--lightgray);
}

.home-page-column-2-pop-up-tweet-form {
    z-index: 3;
    position: absolute;
    min-height: 30vh;
    width: 60vh;
    top: 6vh;
    left: 35%;
    padding: 1.5rem;
    border: 1px solid var(--extralightgray);
    border-radius: 1rem;
    background-color: white;
}

.home-page-column-2-pop-up-tweet-form-header {
    margin-bottom: 1rem;
}

#home-page-column-2-pop-up-tweet-form-header-close-button {
    font-size: 24px;
}

.home-page-column-2-pop-up-tweet-form-content {
    display: flex;
    gap: 2rem;
}
.home-page-column-2-pop-up-tweet-form-content-right,
.home-page-column-2-pop-up-tweet-form-content-right-title,
.home-page-column-2-pop-up-tweet-form-content-right-description,
.home-page-column-2-pop-up-tweet-form-content-right-title-input,
.home-page-column-2-pop-up-tweet-form-content-right-description-input {
    width: 95%;
    border: none;
}

.home-page-column-2-pop-up-tweet-form-content-right-title-input,
.home-page-column-2-pop-up-tweet-form-content-right-description-input {
    padding: 0.6rem;
    font-size: 1rem;
}

.home-page-column-2-pop-up-tweet-form-content-right-description {
    margin: 1rem 0;
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--lightgray);
}

.home-page-column-2-pop-up-tweet-form-content-left-image {
    width: 50px;
    height: 50px;
    border-radius: 45%;
}

.home-page-column-2-pop-up-tweet-form-content-right-bottom-section {
    display: flex;
    gap: 1rem;
}

.home-page-column-2-pop-up-tweet-form-content-right-bottom-section-image {
    width: 55%;
    display: flex;
    align-content: center;
}

#home-page-column-2-pop-up-tweet-form-content-right-bottom-section-image-upload-image {
    font-size: 32px;
}

.home-page-column-2-pop-up-tweet-form-content-right-bottom-section-button {
    width: 50%;
    border-left: 1px solid var(--extralightgray);
    padding-left: 1rem;
}

.home-page-column-2-pop-up-tweet-form-content-right-bottom-section-button-create-tweet {
    font-weight: 500;
    font-size: 1rem;
    color: white;
    background-color: var(--blue);
    padding: 0.8rem 4rem;
    border-radius: 2rem;
    border: 2px solid var(--blue);
    cursor: pointer; 
}

/* Tweet */
.home-page-column-2-tweets {
    margin-top: 5rem;
}

.tweet:first {
    display: flex;
    margin-left: -0.2rem;
    padding: 2rem 1rem;
    border-bottom: 1px solid var(--lightgray);
    border-top: 1px solid var(--lightgray);
}

.tweet {
    display: flex;
    margin-left: -0.2rem;
    padding: 2rem 1rem;
    border-bottom: 1px solid var(--lightgray);
}

.tweet-left {
    width: 10%;
}
.tweet-right {
    width: 85%;
}

.tweet-user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tweet-right-top {
    display: flex;
    gap: .6rem;
    margin-bottom: .8rem;
}

.tweet-right-top-name {
    font-weight: 700;
    font-size: 1rem;
}

.tweet-right-top-username,
.tweet-right-top-date  {
    font-weight: 400;
    font-size: 1rem;
        color: var(--darkgray);
}

#tweet-right-top-options {
    font-size: 20px;
    margin-left: 15vh;
}

.tweet-right-content-title {
    margin-bottom: .6rem;
    line-height: 1.4rem;
}

.tweet-right-content-description {
    margin-bottom: 2rem;
    line-height: 1.2rem;
}

.tweet-image {
    max-width: 100%;
    border-radius: 1rem;
    border: 1px solid var(--lightgray);
    margin-bottom: 1.5rem;
}

/* Pop-up window - delete tweet  */
.home-page-column-2-pop-up-delete-tweet {
    z-index: 3;
    position: absolute;
    min-height: 15vh;
    width: 60vh;
    top: 40%;
    left: 35%;
    padding: 1.5rem;
    border: 1px solid var(--extralightgray);
    border-radius: 1rem;
    background-color: white;
}

.home-page-column-2-pop-up-delete-tweet-content-p {
    text-align: center;
    font-size: 1.2rem;
}

.home-page-column-2-pop-up-delete-tweet-buttons {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 5vh;
}

.home-page-column-2-pop-up-delete-tweet-buttons-yes,
.home-page-column-2-pop-up-delete-tweet-buttons-no {
    width: 50%; 
    font-weight: 500;
    font-size: 1rem;
    color: white;
    background-color: var(--blue);
    padding: 0.8rem 4rem;
    border-radius: 2rem;
    border: 2px solid var(--blue);
    cursor: pointer;
}