:root{
    --blue:             #1DA1F2;
    --black:            #14171A;
    --darkgray:         #657786;
    --lightgray:        #AAB8C2;
    --extralightgray:   #E1E8ED; 
}

.home-page {
    width: 100vw;
    min-height: 300vh;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* Home overlay */
.home-overlay {
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #14171A;
    opacity: 60%;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* Column 1 */
.home-page-column-1 {
    z-index: 1;
    height: 100vh;
    position: fixed;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    border-right: 1px solid var(--lightgray);
}

.home-page-column-1-margin, 
.home-page-column-1-content {
    width: 100%
} 

.home-page-column-1-navigation-list {
    list-style: none;

}

.home-page-column-1-navigation-list-item {
    margin: 1.5rem 0; 
}

.home-page-column-1-navigation-list-item > i {
    font-size: 24px;
    width: 5%;
    margin-right: 1rem;
}

.home-page-column-1-navigation-list-item > span {
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.home-page-column-1-tweet-div {
    display: flex;
    justify-content: center;
}

.home-page-column-1-tweet-button {
    margin-top: 2rem;
    width: 80%; 
    font-weight: 500;
    font-size: 1rem;
    color: white;
    background-color: var(--blue);
    padding: 0.8rem 4rem;
    border-radius: 2rem;
    border: 2px solid var(--blue);
    cursor: pointer;
}

/* Bottom section */
.home-page-column-1-bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    height: 35vh;
    
}

/* Pop-up window */
.home-page-column-1-pop-up {
    z-index: 3;
    position: absolute;
    height: 20vh;
    top: 36em;
    left: 17rem;
    padding: 1rem;
    border: 1px solid var(--extralightgray);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: white;
    justify-content: center;
    align-content: center;
}

.home-page-column-1-user-info-pop-up {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-right: 1rem;
    padding: 0.4rem 2rem;
}

.home-page-column-1-user-info {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-right: 1rem;
    padding: 0.4rem 2rem;
}

.home-page-column-1-pop-up-1:hover,
.home-page-column-1-pop-up-2:hover,
.home-page-column-1-pop-up-3:hover {
    border-radius: 0.5rem;
    background-color: var(--lightgray);
}

.home-page-column-1-pop-up-2,
.home-page-column-1-pop-up-3 {
    text-align: center;
    border-top: 1px solid var(--extralightgray);
    padding: 0.5rem;
}

.home-page-column-1-user-info:hover {
    background-color: var(--extralightgray);
    cursor: pointer;
    border-radius: 5rem;
}

.home-page-column-1-user-info-logout-user-image,
.home-page-column-1-user-info-logout-user-names,
.home-page-column-1-user-info-logout-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.home-page-column-1-user-info-logout-user-image-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.home-page-column-1-user-info-logout-user-names-name {
    margin-bottom: 0.3rem;
}

#home-page-column-1-user-info-logout-button-options {
    font-size: 16px;
}